img {
    width:250px;
    height:180px;
    
}

.cardapio {
    display: table;
    float: left;
    margin-right: 3px;

}

.cardapio2{
    display: table;
    float: right;
    margin-left: 135px;
}

.cardapio3 {
    display: table;
    float: right;
}